body {
  font-family: verdana;
}

img {
  height: 5rem;
  border-radius: 50%;
}

.hide {
  display: none;
}

.playlist-songs {
  max-height: 60vh;
  overflow: scroll;
}

.song-card {
  border: 1px solid black;
}

.playlist {
  display: flex;
  min-height: 80vh;
  max-height: 80vh;
}

.playlist-info, .playlist-songs {
  width: 15vw;
}

.player {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.users, .queue {
  /* top: 0; */
  /* right: 0; */
  border: 1px solid black;
  min-height: 80vh;
  max-height: 80vh;
  overflow: auto;
}

.users {
  width: 20vw;
}

.queue {
  width: 60vw;
}

.rightside {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
}

.usercard {
  display: flex;
  flex-wrap: wrap;
}

.currently-playing {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.current-song {
  border: 10px solid lightseagreen;
}